/* Start====================list-user========================== */
.user .card-body .name {
    cursor: pointer;
}

.user .card-body .name:hover {
    color: #000;
    font-weight: 500;
}

.user .card-body a {
    padding-right: 5px;
    cursor: pointer;
    color: #000;
}
/* End======================list-user========================== */

/* Start====================user-detail========================== */
.user-detail .title {
    font-weight: 700;
    padding-bottom: 5px;
}

.user-detail .form-input {
    margin-bottom: 10px;
}

.user-detail .form-input input {
    width: 100%;
    display: inline-block;
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: 1px solid #ced4da;
    color: #495057;
}

.user-detail .modal-footer a {
    padding: 0;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    background: #343a40;
    margin-left: auto;
    cursor: pointer;
    color: #c2c7d0;
    border: 1px solid transparent;
}

.user-detail .modal-footer a:hover {
    background: #000;
}

.user-detail .modal-footer input {
    background: #343a40;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #c2c7d0;
}

.user-detail .modal-footer input:hover {
    background: #000;
}
/* End======================user-detail========================== */

/* Start======================add-user========================== */
.add-user .title {
    font-weight: 700;
    display: inline-block;
    margin-bottom: .5rem;
}

.add-user .form-input input {
    width: 100%;
    display: inline-block;
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: 1px solid #ced4da;
    color: #495057;
}

.add-user .button-add input {
    background: #343a40;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #c2c7d0;
}

.add-user .button-add input:hover {
    background: #000;
}

.add-user .form-option select {
    width: 100%;
    display: inline-block;
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: 1px solid #ced4da;
    color: #495057;
}
/* End========================add-user========================== */

/* Start========================student========================== */
.student .card-body .name {
    color: inherit;
}

.student .card-body .name:hover {
    color: #000;
}

.student .card-body .check {
    color: #000;
    cursor: pointer;
}

.student .card-body .delete {
    color: #000;
    padding-left: 5px;;
    cursor: pointer;
}
/* End==========================student========================== */

/* Start========================hostory========================== */

/* End==========================hostory========================== */
